<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated relations -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.toometa.relations.presentation.RelationsModelWizardID"
            name="%_UI_RelationsModelWizard_label"
            class="edu.kit.ipd.sdq.toometa.relations.presentation.RelationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelationsModelFile.gif">
         <description>%_UI_RelationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated relations -->
      <editor
            id="edu.kit.ipd.sdq.toometa.relations.presentation.RelationsEditorID"
            name="%_UI_RelationsEditor_label"
            icon="icons/full/obj16/RelationsModelFile.gif"
            extensions="relations"
            class="edu.kit.ipd.sdq.toometa.relations.presentation.RelationsEditor"
            contributorClass="edu.kit.ipd.sdq.toometa.relations.presentation.RelationsActionBarContributor">
      </editor>
   </extension>

</plugin>
