<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcmpatterns -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/pcmpatterns/1.0"
            class="edu.kit.ipd.sdq.toometa.pcmpatterns.PcmpatternsPackage"
            genModel="model/pcmpatterns.genmodel"/>
   </extension>

</plugin>
