<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated requirements -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/requirements/1.0"
            class="edu.kit.ipd.sdq.toometa.requirements.RequirementsPackage"
            genModel="model/requirements.genmodel"/>
   </extension>

</plugin>
