<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated archoptions -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/archoptions/1.0"
            class="edu.kit.ipd.sdq.toometa.archoptions.ArchoptionsPackage"
            genModel="model/archoptions.genmodel"/>
   </extension>

</plugin>
