<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pcmarchoptions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.toometa.pcmarchoptions.presentation.PcmarchoptionsModelWizardID"
            name="%_UI_PcmarchoptionsModelWizard_label"
            class="edu.kit.ipd.sdq.toometa.pcmarchoptions.presentation.PcmarchoptionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PcmarchoptionsModelFile.gif">
         <description>%_UI_PcmarchoptionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pcmarchoptions -->
      <editor
            id="edu.kit.ipd.sdq.toometa.pcmarchoptions.presentation.PcmarchoptionsEditorID"
            name="%_UI_PcmarchoptionsEditor_label"
            icon="icons/full/obj16/PcmarchoptionsModelFile.gif"
            extensions="pcmarchoptions"
            class="edu.kit.ipd.sdq.toometa.pcmarchoptions.presentation.PcmarchoptionsEditor"
            contributorClass="edu.kit.ipd.sdq.toometa.pcmarchoptions.presentation.PcmarchoptionsActionBarContributor">
      </editor>
   </extension>

</plugin>
