<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated issues -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/issues/1.0"
            class="edu.kit.ipd.sdq.toometa.issues.IssuesPackage"
            genModel="model/issues.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated issues -->
      <parser
            type="issues"
            class="edu.kit.ipd.sdq.toometa.issues.util.IssuesResourceFactoryImpl"/>
   </extension>
</plugin>
