<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated decisions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.toometa.decisions.presentation.DecisionsModelWizardID"
            name="%_UI_DecisionsModelWizard_label"
            class="edu.kit.ipd.sdq.toometa.decisions.presentation.DecisionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DecisionsModelFile.gif">
         <description>%_UI_DecisionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated decisions -->
      <editor
            id="edu.kit.ipd.sdq.toometa.decisions.presentation.DecisionsEditorID"
            name="%_UI_DecisionsEditor_label"
            icon="icons/full/obj16/DecisionsModelFile.gif"
            extensions="decisions"
            class="edu.kit.ipd.sdq.toometa.decisions.presentation.DecisionsEditor"
            contributorClass="edu.kit.ipd.sdq.toometa.decisions.presentation.DecisionsActionBarContributor">
      </editor>
   </extension>

</plugin>
