<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated glossary -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/glossary/1.0"
            class="edu.kit.ipd.sdq.toometa.glossary.GlossaryPackage"
            genModel="model/glossary.genmodel"/>
   </extension>

</plugin>
