<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated effects -->
      <package
            uri="http://sdq.ipd.kit.edu/toometa/effects/1.0"
            class="edu.kit.ipd.sdq.toometa.effects.EffectsPackage"
            genModel="model/effects.genmodel"/>
   </extension>

</plugin>
